.tab-content .tab-pane {
    display: none;
}
.tab-content .tab-pane.show.active {
    display: block;
}
.btn {
	position: relative;
	font-weight: 500;
	font-size:14px;
	z-index: 5;
	display: inline-block;
	padding: 13px 32px;
	border-radius: 0px;
}
.button-primary{
	background: #182861;
    color: white;
}
.button-yellow{
	background: #f9693b;
    color: white;
}
.button-secondary{
	background: #f6f7fb;
    color: grey;
}
.account-input {
    width: 90%;
    font-size: 18px;
    padding: 12px !important;
    margin: 12px 0;
    border-radius: 0 !important;
  }